body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: lightcoral;
    color: white;
    padding: 20px 0;
    text-align: center;
}

nav {
    background-color: lightsalmon;
    padding: 10px 0;
}

main {
    padding: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.product {
    background-color: white;
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.product img {
    max-width: 100%;
    height: auto;
}

.product p {
    margin: 10px 0;
}

.product p:nth-child(3) {
    color: lightsalmon;
    font-weight: bold;
}

.buy-now-button {
      background-color: lightcoral;
      border: none;
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
.buy-now-button:hover {
      background-color: black;
    }